body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  @apply text-center;
}

.App-logo {
  @apply h-40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    @apply animate-spin;
  }
}

.App-header {
  @apply bg-blue-900 min-h-screen flex flex-col items-center justify-center text-white;
}

.App-link {
  @apply text-blue-500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
